[defaults]
inventory = ./inventory
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[inventory]
enable_plugins = ini, yaml, auto

[vars]
group_vars_dir = ./group_vars
host_vars_dir = ./host_vars
