    client
    dev tun
    proto {{ openvpn_protocol }}
    remote my-server-1 {{ openvpn_port }}
    resolv-retry infinite
    nobind
    persist-key
    persist-tun
    remote-cert-tls server
    cipher AES-256-CBC
    key-direction 1
    verb 3

    <ca>
    {{ lookup('file', '/etc/openvpn/easy-rsa/pki/ca.crt') | indent(0) }}
    </ca>

    <cert>
    {{ lookup('file', '/etc/openvpn/easy-rsa/pki/issued/{{ client_name }}.crt') | indent(0) }}
    </cert>

    <key>
    {{ lookup('file', '/etc/openvpn/easy-rsa/pki/private/{{ client_name }}.key') | indent(0) }}
    </key>

    key-direction 1
    <tls-auth>
    {{ lookup('file', '/etc/openvpn/easy-rsa/pki/ta.key') | indent(0) }}
    </tls-auth>
